<div class="bg-black text-center">
    <section 
    class="lg:min-h-[700px] bg-contain bg-no-repeat max-w-[1440px] mx-auto h-[300px]"
    style="background-image: url('assets/player-of-month-single.webp');">
    
    </section>
    <section 
    class="lg:min-h-[700px] bg-contain bg-no-repeat max-w-[1440px] mx-auto h-[300px]"
    style="background-image: url('assets/player-of-month-one.webp');">
    
    </section>

    <section 
    class="lg:min-h-[700px] bg-contain bg-no-repeat max-w-[1440px] mx-auto h-[300px]"
    style="background-image: url('assets/player-of-month-two.webp');">
    
    </section>
</div>
